
<script>
    // Function to hide the error message after a delay
    function hideErrorMessage() {
        var errorMessage = document.getElementById('error-message');
        if (errorMessage) {
            setTimeout(function () {
                errorMessage.style.display = 'none';
            }, 2000); 
        }
    }

    // Call the function when the page loads
    document.addEventListener('DOMContentLoaded', function () {
        hideErrorMessage();
    });
</script>
</body>
</html>